# Aula 2 - Leitura de dados e Métodos úteis

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Leitura de dados (read_csv, read_excel, read_clipboard)
- 2) Métodos úteis (drop, rename, sort_values, sort_index, reset_index, max, min, mean, median, sum, cumsum, quantile, describe, value_counts, unique, nunique)
- 3) Algumas formas de filtrar os dados
- 4) Salvar dados (to_csv, to_excel, read_clipboard)

______________

### Objetivos

Apresentar as várias formas de como ler e salvar de dados; alguns métodos que nos permitem aprofundar no conhecimento dos nossos dados e como filtrá-los.
______________


### Habilidades a serem desenvolvidas nessa aula

Ao final da aula o aluno deve:

- Saber como ler um arquivo com o pandas (csv, excel, etc.), criando DataFrames;
- Como salvar esses dados
- Deep dive nos dados
- Como filtrar as informações

____
____
____

# Projeto
_____________
_____________
_____________

## Titanic

O arquivo que usaremos hoje é relativo ao Titanic! Essa é uma das bases mais famosas de ciência de dados. Você pode saber mais sobre estes dados [clicando aqui!](https://www.kaggle.com/c/titanic)

## Leitura de dados
[Documentação](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

| Data | Reader | Writer|
|------|--------|-------|
| CSV	| read_csv | to_csv |
| JSON	| read_json | to_json |
| HTML	| read_html | to_html |
| XML	| read_xml | to_xml |
| Local clipboard |	read_clipboard | to_clipboard
| MS Excel	|read_excel	| to_excel |
| OpenDocument|	read_excel	| |
| HDF5 |	read_hdf |	to_hdf |
| Parquet | read_parquet | to_parquet |
| SAS	|read_sas	| |
| SPSS	|read_spss	| |
| Python Pickle |	read_pickle | to_pickle| 
| SQL	|read_sql|	to_sql |
| Google BigQuery|	read_gbq | to_gbq |

In [ ]:
import pandas as pd

### `.read_csv()`

In [ ]:
# lê dataframe do arquivo ./data/titanic.csv
df = pd.read_csv('./data/titanic.csv')
df

### `.read_excel()` 
Para ler e salvar os dados em excel é preciso instalar mais uma biblioteca: a `openpyxl`. Caso você não a tenha, escreva o comando seguinte em uma célula de código: <br>
` !pip install openpyxl `
<br>

In [ ]:
# ./data/titanic.xlsx
pd.set_option("max_rows", None)
pd.set_option('max_columns', None)
df = pd.read_excel('./data/titanic.xlsx')
df

### `.read_clipboard()`
Nesse caso eu precisei instalar a biblioteca `PyQt5`com `!pip install PyQt5`.

Dê CRTL+C nessa matriz: <br> <br>
  A B C <br>
x 1 4 p <br>
y 2 5 q <br>
z 3 6 r <br>

In [ ]:
A B C
x 1 4 p
y 2 5 q
z 3 6 r

In [ ]:
df_clipboard = pd.read_clipboard()
df_clipboard

Agora que temos uma base mais complexa, vamos aproveitar para ver agora algumas outras funcionalidades do Pandas!

## Atributos
Atributos são as propriedades de um objeto, no caso um df.

### `.shape`
Retorna um array com a quantidade de linhas e colunas do df. Esse na verdade é um atributo do df.

In [ ]:
df.shape

### `.size`
Retorna a quantidade de elementos do df. Também pode ser obtido pela multiplicação 
$$df.shape[0]*df.shape[1]$$

In [ ]:
df.size

### `.columns`
Retorna o nome das colunas e pode ser usado para renomear as colunas

In [ ]:
df.columns

### `.index`
Retorna o index do df

In [ ]:
df.index

### `.dtypes`

In [ ]:
df.dtypes

O pandas tenta reconhecer automaticamente os tipos das colunas.

## Métodos
Métodos são as ações que um objeto pode realizar.
O pandas possui alguns métodos para entendermos melhor a estrutura dos dados:

### `.head()` e `.tail()`
`.head()` retorna as primeiras linhas do df e `.tail()` retorna as últimas.

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

### `.describe()`
`.describe(include='all')` descreve **estatísticas básicas** sobre todas as colunas, inclusive as que são objetos como strings e timestamp. Nesse caso, *top* representará o valor mais comum enquanto *freq* será a frequência em que apareceu esse valor.


Link para a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html).

In [ ]:
# repare que nesse caso o próprio pandas fez o trabalho de reconhecer quais colunas são as numéricas
df.describe()

### `.info()`
Fornece a quantidade de valores não nulos, o tipo de cada coluna e uso de memória.

In [ ]:
df.info()

### `.astype()`
Converte o tipo da coluna.

In [ ]:
df[['Pclass', 'Survived']] = df[['Pclass', 'Survived']].astype('int8')
df.dtypes

### `.value_counts()`
Traz a contagem de elementos pra cada valor distinto da coluna em que está sendo aplicado.

In [ ]:
df_class1 = df[df['Pclass'] == 1]

In [ ]:
df_class1

In [ ]:
df_class1.value_counts(['Fare'])

In [ ]:
# Valores para Pclass
print(df.value_counts(['Pclass']))
print(df.value_counts(['Pclass', 'Survived']))

### `.unique()`
Retorna quem são os valores únicos da sua coluna. Equivalente ao DISTINCT column no SQL

In [ ]:
# Encontrar únicos para coluna Embarked
df.Pclass.unique()

### `nunique()`
Retorna a quantidade de valores únicos da sua coluna. Equivalente ao COUNT (DISTINCT column) no SQL

In [ ]:
df.Pclass.nunique()

### `.rename()`
Com esse método é possível renomear tanto o nome das colunas quanto o índice alterando o parâmetro axis. É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
# vamos criar uma cópia do df
df_copy = df.copy()
df_copy.rename({'Age':'Idade', 'Name':'Nome'}, axis=1, inplace=True)
df_copy.head()

### `.drop()`
Permite deletar linhas ou colunas inteiras dependendo do parâmetro `axis`. É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
# drop de colunas
df.drop(['PassengerId', 'SibSp'], axis = 1)

In [ ]:
# drop de linhas
df_copy.drop([0,1])

### `.sort_values()`
O método é utilizado para ordenar os dados baseado em uma ou mais colunas. Para retornar a ordem reversa utilize o argumento `ascending=True`. É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
df.sort_values(['Pclass', 'Age'])

Para ordernar colunas distintas em ordens distintas é preciso passar uma lista booleana para o argumento ascending com a mesma quantidade de colunas.

In [ ]:
df.sort_values(['Pclass','Fare'], ascending=[True, False])

###  `.memory_usage()`
Retorna a quantidade de memória utilizada por cada coluna em bytes.

In [ ]:
df.memory_usage()

###  `.set_index()` e `.reset_index()`
Como vimos na aula anterior, o `.set_index()` é utilizado para utilizar uma das colunas do df como index enquanto o `.reset_index()` enumera as linhas de 0 até o tamanho do df -1, convertendo o antigo index em uma coluna.

___________________
___________________
**Exercício:** <br>

a) Dropar as colunas SibSp, Parch, Embarked, Cabin. <br>
b) Deixe o nome das colunas todas em minúsculo e seguindo o padrão da documentação python de deixar palavras separadas por _ . Exemplo: PassengerId -> passenger_id <br>
c) Ordene por idade (decrescente) e nome (crescente)

In [ ]:
df = df.drop(['SibSp', 'Parch', 'Embarked', 'Cabin'], axis = 1)

In [ ]:
df.rename({'PassengerId':'passenger_id', 
                'Survived':'survived',
                'Pclass':'pclass',
                'Name':'name',
                'Sex':'sex',
                'Age':'age',
                'Ticket':'ticket',
                'Fare':'fare'
               }, axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.sort_values(['age','name'], ascending=[False, True])

___________________
___________________

## Filtros

Podemos **fazer filtros** muito facilmente

Basta explicitarmos **condições sobre os valores das colunas**, e utilizar isso como indexador do dataframe!

In [ ]:
df[df["Fare"] > 260]

Se quisermos fazer filtros mais complexos (filtros compostos, em mais de uma coluna), podemos fazer **conjunções entre filtros**, utilizando os **operadores lógicos de conjunção**.

Obs.: temos os seguintes operadores lógicos:

- &     - corresponde ao "and"
- |     - corresponde ao "or"
- ~     - corresponde ao "not"

In [ ]:
# filtar df para Fare >= 230 e Sex == 'female'
df[(df["Fare"] >= 260) & (df["Sex"] == 'female')]

In [ ]:
# filtar df para Fare >= 260 e Age < 1
df[(df["Fare"] >= 260) | (df["Age"] < 1)]

In [ ]:
# Podemos criar um novo df diretamento do filtro
df_novo = df[(df["Fare"] >= 260) | (df["Age"] < 1)].copy()
df_novo

### Outras formas de filtrar: 
#### `.query()`

In [ ]:
df.query('Fare >= 260 and Sex=="female" ')

#### `.between()`

In [ ]:
df[df['Fare'].between(100,120)]

#### `.isin()`

In [ ]:
df[df['Name'].isin(['Newell, Miss. Madeleine', 'Fleming, Miss. Margaret'])]

In [ ]:
df[df['Age'].isin([1,2])]

#### `.str.contains()`

In [ ]:
df[df.Name.str.contains('Newell')]

In [ ]:
df[df.Name.str.contains('Newell|Fleming')]

_____________
_____________
**Exercício:** Quantas crianças com menos de 5 anos sobreviveram?

______________
______________

## Salvando dados
Podemos salvar os dados em vários formatos como csv, xlsx, parquet...

#### `.to_csv()`

In [ ]:
# salvando em csv
df.to_csv('')

#### `.to_excel()`

In [ ]:
# salvando dados em xlsx

## Pandas profiling

!pip install pandas-profiling[notebook]

In [ ]:
!pip install pandas-profiling

In [ ]:
import pandas_profiling as pp
pp.ProfileReport(df, explorative=True)

## Exercícios

In [1]:
import pandas as pd

In [2]:
comprador = pd.read_csv('./data/customer.csv')
comprador

   c_id Customer
0     1     Rabi
1     2     Raju
2     3     Alex
3     4     Rani
4     5     King
5     7     Ronn
6     8      Jem
7     9      Tom

In [3]:
produto = pd.read_csv('./data/products.csv')
produto

   p_id       product  price
0     1     Hard Disk     80
1     2           RAM     90
2     3       Monitor     75
3     4           CPU     55
4     5      Keyboard     20
5     6         Mouse     10
6     7   Motherboard     50
7     8  Power supply     20

In [4]:
vendas = pd.read_csv('./data/sales.csv')
vendas

   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
5        6     3     3  Monitor    2   DEF
6        7     2     2      RAM    3   ABC
7        8     3     2      RAM    2   DEF
8        9     2     3  Monitor    2   ABC

In [113]:
df_copy = vendas[['product', 'qty']].copy()
val = df_copy['product'].unique()
for i in produto['product']:
    if i in val:
        df_copy['preço'] = produto['price']

In [114]:
df_copy

   product  qty  preço
0  Monitor    2   80.0
1      CPU    1   90.0
2  Monitor    3   75.0
3      RAM    2   55.0
4  Monitor    3   20.0
5  Monitor    2   10.0
6      RAM    3   50.0
7      RAM    2   20.0
8  Monitor    2    NaN

In [98]:
vendas['product'].unique()

array(['Monitor', 'CPU', 'RAM'], dtype=object)

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [35]:
#total_vendas = vendas[vendas['product','qty']]
#tabela[tabela['média'] > 7]
print(vendas['product'].unique())

['Monitor' 'CPU' 'RAM']

b) E os não vendidos?

In [79]:
for i in produto['product'].unique():
    if i not in vendas['product'].unique():
        print(i)

Hard Disk
Keyboard
Mouse
Motherboard
Power supply

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

e) Liste a quantidade vendida de cada loja.

f) Liste a quantidade vendida de cada produto por loja.

## Referências
[Leitura de dados](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) <br>
[Seleção dos dados](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) <br>
[Lista de atributos e métodos](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.html)